@font-face {
    font-family: 'PedanticDevanagari';
    src: local('PedanticDevanagariExtraLight'),
         url('PedanticDevanagariExtraLight.woff');
    font-weight: 200;
}

@font-face {
    font-family: 'PedanticDevanagari';
    src: local('PedanticDevanagariLight'),
         url('PedanticDevanagariLight.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'PedanticDevanagari';
    src: url('PedanticDevanagari.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'PedanticDevanagari';
    src: local('PedanticDevanagariBold'),
         url('PedanticDevanagariBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'PedanticMalayalam';
    src: url('PedanticMalayalam.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'PedanticMalayalam';
    src: url('PedanticMalayalamBold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'PedanticTelugu';
    src: url('PedanticTelugu.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'PedanticTelugu';
    src: url('PedanticTeluguBold.woff');
    font-weight: bold; 
}

body {
    font-family: 'Alegreya Sans', PedanticDevanagari, PedanticMalayalam, PedanticTelugu, sans-serif;
    color: black;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    padding-top: 20px;
/*    font-size: 2em; */
    font-size: 2.3em;
    font-size-adjust: 0.4;
    letter-spacing: 0;
}

code {
    font-family: monospace, PedanticDevanagari, PedanticMalayalam, PedanticTelugu !important;
}

.medium {
    font-size: 1.3em;
}

.mediumplus {
    font-size: 1.6em;
}

.big {
    font-size: 1.8em;
}

del {
    text-decoration-color: red;
}

ins {
    color: red;
    text-decoration: none;
}

.aalt {
    font-feature-settings: "aalt" 1;
}

.cv01 {
    font-feature-settings: "cv01" 1;
}
.cv02 {
    font-feature-settings: "cv02" 1;
}

.sc {
    font-variant: small-caps;
}

p {
    hyphens: auto;
}

.biblio {
    padding-left: 1em;
    text-indent: -1em;
}

.toc {
    margin-left: 2em;
    margin-right: 2em;
    background: #f4f5f6;
    list-style-type: decimal;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.toc li {
    margin-bottom: 0;
}

.noborder td {
    border: 0;
}

