@font-face {
    font-family: 'PedanticDevanagari';
    src: url(PedanticDevanagari.woff);
    unicode-range: U+0900-U+097F,U+A8E0-U+A8FB,U+1CD0-U+1CF6,U+2E24,U+25CC;
}

@font-face {
    font-family: 'PedanticMalayalam';
            src: url('PedanticMalayalam.woff');
            unicode-range: U+0D00-U+0D7F,U+25CC;
}

@font-face {
    font-family: 'PedanticTelugu';
            src: url('PedanticTelugu.woff');
            unicode-range: U+0C00-U+0C7F,U+25CC;
}

body {
    font-family: 'Alegreya Sans', PedanticDevanagari, PedanticMalayalam, PedanticTelugu, sans-serif;
    color: black;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    padding-top: 20px;
/*    font-size: 2em; */
    font-size: 2.3em;
    font-size-adjust: 0.4;
}

code {
    font-family: monospace, PedanticDevanagari, PedanticMalayalam, PedanticTelugu !important;
}

.medium {
    font-size: 1.3em;
}

.mediumplus {
    font-size: 1.6em;
}

.big {
    font-size: 1.8em;
}

del {
    text-decoration-color: red;
}

ins {
    color: red;
    text-decoration: none;
}

.aalt {
    font-feature-settings: "aalt" 1;
}

.sc {
    font-variant: small-caps;
}

p {
    hyphens: auto;
}

.biblio {
    padding-left: 1em;
    text-indent: -1em;
}

.toc {
    margin-left: 2em;
    margin-right: 2em;
    background: #f4f5f6;
    list-style-type: decimal;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.toc li {
    margin-bottom: 0;
}
